/*
 
*/
img {
  max-width: 100%;
}

.right {
  right: 0;
}

#ptpb-page {
  overflow: hidden;
}

.pt-pb-section {
  position: relative;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.pb-old-slider .container, .pb-old-slider .container-fluid {
  padding: 0;
}

.row.v-align-top, .row.v-align-middle, .row.v-align-bottom {
  display: table;
}
.row.v-align-top > div[class*='col-'], .row.v-align-middle > div[class*='col-'], .row.v-align-bottom > div[class*='col-'] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.row.v-align-top > div[class*='col-'] {
  vertical-align: top;
}
.row.v-align-bottom > div[class*='col-'] {
  vertical-align: bottom;
}
.row.v-align-middle.row-edge {
  display: block;
  position: relative;
}
.row.v-align-middle.row-edge > div[class*='col-'] {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

@media (max-width: 991px) {
  .row.v-align-top > div[class*='col-'], .row.v-align-middle > div[class*='col-'], .row.v-align-bottom > div[class*='col-'] {
    display: block;
    position: static;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    top: auto;
  }
}
.no-gutter > [class*='col-'] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

[class*='col-'] {
  border-style: solid;
  border-width: 0px;
}

.p0 {
  padding: 0 !important;
}

.pt-pb-module-wrap:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.pt-pb-module-wrap .dashicons, .pt-pb-module-wrap .dashicons-before:before {
  height: auto;
  width: auto;
  font-size: inherit;
  vertical-align: middle;
}

.pt-pb-full-width-wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pt-pb-full-width-wrap #pt-pb-content {
  position: absolute;
  overflow: visible;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

.fa {
  font-family: 'FontAwesome' !important;
  text-decoration: none !important;
}

.pace-builder-page .entry-header .post-title {
  display: none;
}

/* 
  Modules
*/
/* Menu Module */
.pt-pb-module-menu {
  /*!
   * SlickNav Responsive Mobile Menu v1.0.3
   * (c) 2015 Josh Cope
   * licensed under MIT
   */
}
.pt-pb-module-menu .slicknav_btn {
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  line-height: 50px;
  padding: 10px 0 9px;
  position: relative;
  vertical-align: middle;
  width: 44px;
}
.pt-pb-module-menu .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: 0.188em;
}
.pt-pb-module-menu .slicknav_menu {
  *zoom: 1;
}
.pt-pb-module-menu .slicknav_menu .slicknav_menutxt {
  display: block;
  line-height: 1.188em;
  float: left;
}
.pt-pb-module-menu .slicknav_menu .slicknav_icon {
  margin: 0.188em 0 0 0.438em;
}
.pt-pb-module-menu .slicknav_menu .slicknav_no-text {
  margin: 0;
}
.pt-pb-module-menu .slicknav_menu .slicknav_icon-bar {
  display: block;
  width: 1.125em;
  height: 0.125em;
  margin: 0 auto;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pt-pb-module-menu .slicknav_menu .slicknav_btn:hover .slicknav_icon-bar {
  background: #ffffff;
}
.pt-pb-module-menu .slicknav_menu:before {
  content: " ";
  display: table;
}
.pt-pb-module-menu .slicknav_menu:after {
  content: " ";
  display: table;
  clear: both;
}
.pt-pb-module-menu .slicknav_nav {
  clear: both;
}
.pt-pb-module-menu .slicknav_nav ul {
  display: block;
}
.pt-pb-module-menu .slicknav_nav li {
  display: block;
  line-height: 30px;
}
.pt-pb-module-menu .slicknav_nav .slicknav_arrow {
  float: right;
  text-align: center;
  width: 35px;
  color: #666;
}
.pt-pb-module-menu .slicknav_nav .slicknav_item {
  cursor: pointer;
}
.pt-pb-module-menu .slicknav_nav .slicknav_item a {
  display: inline;
}
.pt-pb-module-menu .slicknav_nav .slicknav_row {
  display: block;
}
.pt-pb-module-menu .slicknav_nav a {
  display: block;
}
.pt-pb-module-menu .slicknav_nav .slicknav_parent-link a {
  display: inline;
}
.pt-pb-module-menu .slicknav_nav .sub-menu {
  margin-left: 20px;
}
.pt-pb-module-menu .slicknav_brand {
  float: left;
}
.pt-pb-module-menu .slicknav_menu {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pt-pb-module-menu .slicknav_menu ul {
  background: #fff;
}
.pt-pb-module-menu .slicknav_menu * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pt-pb-module-menu .slicknav_menu .slicknav_menutxt {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
}
.pt-pb-module-menu .slicknav_btn {
  border: 1px solid;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 12px 15px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pt-pb-module-menu .slicknav_nav {
  color: #fff;
  font-size: 0.875em;
  list-style: outside none none;
  margin: 0;
  max-height: 350px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}
.pt-pb-module-menu .slicknav_nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 0 0px;
}
.pt-pb-module-menu .slicknav_nav .slicknav_row {
  padding: 10px 20px;
}
.pt-pb-module-menu .slicknav_nav a {
  padding: 5px 10px;
  margin: 2px 5px;
  text-decoration: none;
  color: #666;
}
.pt-pb-module-menu .slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}
.pt-pb-module-menu .slicknav_nav .slicknav_item a {
  padding: 0;
  margin: 0;
}
.pt-pb-module-menu .slicknav_nav .slicknav_parent-link a {
  padding: 0;
  margin: 0;
}
.pt-pb-module-menu .slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px;
}
.pt-pb-module-menu .navbar-nav > li > a,
.pt-pb-module-menu .navbar-nav > li > a:focus {
  font-size: 14px;
  padding: 20px;
  outline: 0;
  color: #666;
  text-transform: uppercase;
  font-weight: 400;
  background: transparent;
}
.pt-pb-module-menu .navbar-nav > li > a {
  background: transparent;
  color: #666;
  position: relative;
}
.pt-pb-module-menu .navbar-nav > li > a:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 1px;
  position: absolute;
  left: 1px;
  bottom: 4px;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.pt-pb-module-menu .navbar-nav > li a:hover::before,
.pt-pb-module-menu .navbar-nav > li.active a::before,
.pt-pb-module-menu .navbar-nav > li.open > a::before,
.pt-pb-module-menu .navbar-nav > .active > a:focus::before {
  width: 15px;
}
.pt-pb-module-menu .navbar-nav > li a:focus > a::before {
  background: transparent;
}
.pt-pb-module-menu .navbar-nav > li.open a:focus {
  background: transparent !important;
}
.pt-pb-module-menu .navbar-nav > li > a:hover,
.pt-pb-module-menu .navbar-nav > .active > a,
.pt-pb-module-menu .navbar-nav > li.open > a,
.pt-pb-module-menu .navbar-nav > .active > a:hover,
.pt-pb-module-menu .navbar-nav > .active > a:focus,
.pt-pb-module-menu .navbar-nav > .open > a:hover {
  background: transparent;
}
.pt-pb-module-menu .navbar-nav > .dropdown:hover > ul.dropdown-menu {
  display: block;
  -webkit-animation: fadeInUpMenu 0.4s;
  animation: fadeInUpMenu 0.4s;
}
.pt-pb-module-menu .dropdown .dropdown-menu {
  padding: 0;
  border-style: solid;
  border-width: 4px 0 0 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  left: 0;
  right: auto;
}
.pt-pb-module-menu .dropdown .dropdown-menu > li > a {
  color: #666;
  padding: 10px 15px;
}
.pt-pb-module-menu .dropdown .dropdown-menu > li > a:hover,
.pt-pb-module-menu .dropdown .dropdown-menu > li > a .active {
  background: #ecf0f1;
}
.pt-pb-module-menu .dropdown .dropdown-menu > li.active > a {
  background: #ecf0f1;
}
.pt-pb-module-menu .dropdown .sub-menu {
  top: -1px;
  left: 100% !important;
  padding: 0;
  border: none;
  -webkit-animation: fadeInUpMenu 0.4s;
  animation: fadeInUpMenu 0.4s;
}
.pt-pb-module-menu .navbar-toggle {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.pt-pb-module-menu .navbar-toggle:hover .icon-bar {
  background: #fff;
}
.pt-pb-module-menu .fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}
.pt-pb-module-menu .ptpb-mobile-menu {
  display: none;
}
.pt-pb-module-menu .slicknav_menu {
  display: none;
}
.pt-pb-module-menu .slicknav_btn {
  border-color: #AC2925;
}
.pt-pb-module-menu .slicknav_btn:hover {
  background: #AC2925;
}
.pt-pb-module-menu .slicknav_nav a:hover,
.pt-pb-module-menu .slicknav_open .active a {
  color: #AC2925 !important;
}
.pt-pb-module-menu .slicknav_menu .slicknav_icon-bar {
  background: #AC2925;
}

@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media screen and (max-width: 767px) {
  .pt-pb-module-menu .navbar-brand {
    position: absolute;
    top: 0;
  }
  .pt-pb-module-menu .slicknav_menu {
    display: block;
  }
  .pt-pb-module-menu .navbar-toggle {
    display: none;
  }
}
@media (min-width: 768px) {
  .pt-pb-module-menu .navbar-center {
    float: none;
    margin: 0;
    text-align: center;
  }
  .pt-pb-module-menu .navbar-center li {
    float: none;
    display: inline-block;
  }
  .pt-pb-module-menu .navbar-center li li {
    display: block;
  }
}
/* Hover Icon */
.hover-icon {
  text-align: center;
}
.hover-icon a.icon {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #fff;
  color: #27ae60;
  -webkit-box-shadow: 0 0 0 4px #27ae60;
  box-shadow: 0 0 0 4px #27ae60;
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -webkit-transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.hover-icon a.icon:before {
  font-size: 30px;
  line-height: 60px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.hover-icon a.icon:hover, .hover-icon a.icon:focus {
  background: #27ae60;
  color: #fff;
  -webkit-box-shadow: 0 0 0 8px #27ae60;
  box-shadow: 0 0 0 8px #27ae60;
  text-decoration: none;
}
.hover-icon a.icon:hover:before, .hover-icon a.icon:focus:before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
.hover-icon a.icon.from-right:hover:before {
  -webkit-animation: toLeftFromRight 0.3s forwards;
  animation: toLeftFromRight 0.3s forwards;
}
.hover-icon a.icon.from-top:hover:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}
.hover-icon a.icon.from-bottom:hover:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}
.hover-icon a.icon.rotate:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}
.hover-icon a.icon.icon-1x {
  width: 28px;
  height: 28px;
}
.hover-icon a.icon.icon-1x:before {
  font-size: 16px;
  line-height: 28px;
}
.hover-icon a.icon.icon-2x {
  width: 45px;
  height: 45px;
}
.hover-icon a.icon.icon-2x:before {
  font-size: 22px;
  line-height: 45px;
}
.hover-icon a.icon.icon-4x {
  width: 80px;
  height: 80px;
}
.hover-icon a.icon.icon-4x:before {
  font-size: 42px;
  line-height: 80px;
}
.hover-icon a.icon.icon-5x {
  width: 100px;
  height: 100px;
}
.hover-icon a.icon.icon-5x:before {
  font-size: 54px;
  line-height: 100px;
}
.hover-icon .icon-title {
  margin: 0 0 0.8em 0;
}

/* Feature Box */
.feature-box .ptpb-fb-head {
  display: table;
}
.feature-box .icon-wrap {
  float: left;
  display: table-cell;
  vertical-align: middle;
}
.feature-box .feature-box-title {
  margin-top: 0;
  margin-bottom: 15px;
  clear: none;
  display: table-cell;
  vertical-align: middle;
}
.feature-box p:last-child {
  margin-bottom: 0;
}
.feature-box.size-1 .feature-box-content, .feature-box.size-1 .feature-box-title {
  margin-left: 35px;
}
.feature-box.size-2 .feature-box-content, .feature-box.size-2 .feature-box-title {
  margin-left: 55px;
}
.feature-box.size-3 .feature-box-content, .feature-box.size-3 .feature-box-title {
  margin-left: 75px;
}
.feature-box.size-4 .feature-box-content, .feature-box.size-4 .feature-box-title {
  margin-left: 95px;
}
.feature-box.size-5 .feature-box-content, .feature-box.size-5 .feature-box-title {
  margin-left: 115px;
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateScale {
  0% {
    -webkit-transform: rotate(-175deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
  }
}
@keyframes rotateScale {
  0% {
    -webkit-transform: rotate(-175deg) scale(0.2);
    transform: rotate(-175deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
/* Image Gallery */
.ptpb-gallery {
  text-align: center;
}
.ptpb-gallery .ptpb-gallery-thumb {
  display: block;
  margin: 10px;
  position: relative;
}
.ptpb-gallery .ptpb-gallery-thumb img {
  width: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.ptpb-gallery .ptpb-gallery-thumb .overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.ptpb-gallery .ptpb-gallery-thumb .overlay .image-title {
  text-align: center;
  color: #000;
  padding: 0 10px;
  position: relative;
  top: 50%;
  margin-top: -0.75em;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.95);
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.ptpb-gallery .ptpb-gallery-thumb .fa {
  display: none;
}
.ptpb-gallery .ptpb-gallery-thumb:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.ptpb-gallery .ptpb-gallery-thumb:hover .overlay {
  opacity: 0.7;
}
.ptpb-gallery .ptpb-gallery-thumb:focus {
  outline: none;
}
.ptpb-gallery.rounded img,
.ptpb-gallery.rounded span {
  -webkit-border-radius: 150px;
  border-radius: 150px;
}
.ptpb-gallery.no-pad .ptpb-gallery-thumb-wrap {
  padding: 0 !important;
}

.ptpb-gallery.rounded .ptpb-gallery-thumb-wrap .ptpb-gallery-thumb {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

.ptpb-gallery-thumb-wrap {
  float: left;
}
.ptpb-gallery-thumb-wrap .ptpb-gallery-thumb {
  display: block;
  overflow: hidden;
  z-index: 1;
  position: relative;
  margin: 0;
}
.ptpb-gallery-thumb-wrap .ptpb-gallery-thumb img {
  width: 100%;
  max-width: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.ptpb-gallery-thumb-wrap .ptpb-gallery-thumb:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ptpb-gallery.two-col .ptpb-gallery-thumb-wrap {
  width: 50%;
  padding: 15px;
}
.ptpb-gallery.two-col .image-title {
  font-size: 2.2em;
  top: 50%;
}

.ptpb-gallery.three-col .ptpb-gallery-thumb-wrap {
  width: 33.333%;
  padding: 10px;
}
.ptpb-gallery.three-col .image-title {
  font-size: 1.8em;
  top: 50%;
}

.ptpb-gallery.four-col .ptpb-gallery-thumb-wrap {
  width: 25%;
  padding: 8px;
}
.ptpb-gallery.four-col .image-title {
  font-size: 1.5em;
  top: 50%;
}

.ptpb-gallery.five-col .ptpb-gallery-thumb-wrap {
  width: 20%;
  padding: 6px;
}
.ptpb-gallery.five-col .image-title {
  font-size: 1.2em;
  top: 50%;
}

.ptpb-gallery.six-col .ptpb-gallery-thumb-wrap {
  width: 16.6666%;
  padding: 5px;
}
.ptpb-gallery.six-col .image-title {
  font-size: 1em;
  top: 50%;
}

@media (max-width: 420px) {
  .ptpb-gallery.two-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.three-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.four-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.five-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.six-col .ptpb-gallery-thumb-wrap {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .ptpb-gallery.two-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.three-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.four-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.five-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.six-col .ptpb-gallery-thumb-wrap {
    width: 50%;
    padding: 10px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .ptpb-gallery.two-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.three-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.four-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.five-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.six-col .ptpb-gallery-thumb-wrap {
    width: 50%;
    padding: 10px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .ptpb-gallery.two-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.three-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.four-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.five-col .ptpb-gallery-thumb-wrap,
  .ptpb-gallery.six-col .ptpb-gallery-thumb-wrap {
    width: 33.33%;
    padding: 10px;
  }
}
/* Styled List */
.styled-list ul,
.styled-list li {
  list-style-type: none !important;
  text-align: left;
  padding-left: 0 !important;
}
.styled-list li {
  position: relative;
}
.styled-list span {
  display: inline-block;
}
.styled-list p {
  margin-bottom: 0 !important;
}
.styled-list .styled-list-item-icon {
  text-align: center;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: table;
  float: left;
}
.styled-list .styled-list-item-icon .icon {
  display: table-cell;
  vertical-align: middle;
  padding: 0 !important;
}

/* Button */
#pt-pb-content .pt-pb-button {
  padding: 10px 20px;
  display: inline-block;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #27ae60;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#pt-pb-content .pt-pb-button:hover {
  background-color: #229955;
}
#pt-pb-content .pt-pb-button.small {
  font-size: 0.95em;
  padding: 6px 14px;
}
#pt-pb-content .pt-pb-button.big {
  font-size: 1.25em;
  padding: 16px 32px;
}
#pt-pb-content .pt-pb-button.rounded {
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
#pt-pb-content .pt-pb-button.dark {
  background: transparent;
  color: #444;
  border: 2px solid #444;
}
#pt-pb-content .pt-pb-button.dark:hover, #pt-pb-content .pt-pb-button.dark:focus, #pt-pb-content .pt-pb-button.dark:active {
  background: rgba(0, 0, 0, 0.1);
  color: #222;
  border-color: #222;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#pt-pb-content .pt-pb-button.light {
  background: transparent;
  color: #efefef;
  border: 2px solid #efefef;
}
#pt-pb-content .pt-pb-button.light:hover, #pt-pb-content .pt-pb-button.light:focus, #pt-pb-content .pt-pb-button.light:active {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

/* Image */
.pt-pb-module-image figure {
  margin: 0;
}

/* Video */
.ptpb-module-video {
  position: relative;
  margin: 0 auto;
}
.ptpb-module-video .ptpb-video-wrap iframe {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ptpb-module-video .ptpb-video-wrap-inner {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 */
  width: 100%;
}
.ptpb-module-video.ptpb-video-ar-43 .ptpb-video-wrap-inner {
  padding-top: 75%;
  /* 4:3 */
}
.ptpb-module-video.ptpb-video-library .ptpb-video-wrap-inner {
  padding-top: 0 !important;
}

/* Title/Headline */
.ptpb-title {
  overflow: hidden;
  position: relative;
}
.ptpb-title .title-heading-left {
  text-align: left;
}
.ptpb-title .title-heading-center {
  text-align: center;
}
.ptpb-title .title-heading-right {
  text-align: right;
}
.ptpb-title.center {
  text-align: center;
}
.ptpb-title.left {
  text-align: left;
}
.ptpb-title.left .ptpb-sep-line-below .inner:before {
  display: none;
}
.ptpb-title.left .ptpb-sep-line-below .inner:after {
  right: -10px;
}
.ptpb-title.left .ptpb-sep-line-below .inner .inner-icon {
  left: 10px;
}
.ptpb-title.right {
  text-align: right;
}
.ptpb-title.right .ptpb-sep-line-below .inner:before {
  left: -10px;
}
.ptpb-title.right .ptpb-sep-line-below .inner:after {
  display: none;
}
.ptpb-title.right .ptpb-sep-line-below .inner .inner-icon {
  right: 5px;
  left: auto;
}
.ptpb-title h1,
.ptpb-title h2,
.ptpb-title h3,
.ptpb-title h4,
.ptpb-title h5,
.ptpb-title h6 {
  overflow: hidden;
}
.ptpb-title h1.double-line span,
.ptpb-title h2.double-line span,
.ptpb-title h3.double-line span,
.ptpb-title h4.double-line span,
.ptpb-title h5.double-line span,
.ptpb-title h6.double-line span {
  display: inline-block;
  position: relative;
  border: 0px solid #000;
}
.ptpb-title h1.double-line span:before,
.ptpb-title h1.double-line span:after,
.ptpb-title h2.double-line span:before,
.ptpb-title h2.double-line span:after,
.ptpb-title h3.double-line span:before,
.ptpb-title h3.double-line span:after,
.ptpb-title h4.double-line span:before,
.ptpb-title h4.double-line span:after,
.ptpb-title h5.double-line span:before,
.ptpb-title h5.double-line span:after,
.ptpb-title h6.double-line span:before,
.ptpb-title h6.double-line span:after {
  content: "";
  position: absolute;
  height: 6px;
  border-bottom: 0px solid #000;
  border-bottom: 1px solid #e0dede;
  border-top: 1px solid #e0dede;
  top: 50%;
  margin-top: -2px;
  width: 2000px;
}
.ptpb-title h1.double-line span:before,
.ptpb-title h2.double-line span:before,
.ptpb-title h3.double-line span:before,
.ptpb-title h4.double-line span:before,
.ptpb-title h5.double-line span:before,
.ptpb-title h6.double-line span:before {
  right: 100%;
  margin-right: 15px;
}
.ptpb-title h1.double-line span:after,
.ptpb-title h2.double-line span:after,
.ptpb-title h3.double-line span:after,
.ptpb-title h4.double-line span:after,
.ptpb-title h5.double-line span:after,
.ptpb-title h6.double-line span:after {
  left: 100%;
  margin-left: 15px;
}
.ptpb-title .ptpb-sep-line-below {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  width: 35%;
  max-width: 320px;
  overflow: hidden;
  position: relative;
}
.ptpb-title .ptpb-sep-line-below .inner {
  display: block;
}
.ptpb-title .ptpb-sep-line-below .inner:before, .ptpb-title .ptpb-sep-line-below .inner:after {
  content: '';
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
  position: absolute;
  top: 5px;
  left: -50%;
  margin-left: -4px;
}
.ptpb-title .ptpb-sep-line-below .inner:after {
  left: auto;
  right: -50%;
  margin-right: -4px;
}
.ptpb-title .ptpb-sep-line-below .inner .inner-icon {
  display: block;
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -5px;
  border: 1px solid #e5e5e5;
  width: 9px;
  height: 9px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.ptpb-title .ptpb-sep-line-below-simple {
  margin: 0 0 25px;
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #e5e5e5;
}

/* Google Map */
.pt-pb-module-googlemap {
  background-color: transparent !important;
  height: auto !important;
}
.pt-pb-module-googlemap .mapsed-root table {
  display: none;
}

/* Contact Form 7 */
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 0px 10px !important;
  margin: 0 0 10px;
  min-width: 160px;
  width: 100%;
  color: #777;
  height: 40px;
  line-height: 40px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: #f5f5f5;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-form-control:focus {
  outline: none;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-form-control.wpcf7-not-valid {
  border-width: 2px !important;
  border-color: #D90429 !important;
  color: #D90429 !important;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-form-control.g-recaptcha {
  border: none;
  height: auto;
}
.ptpb-cf7:not(.theme-none):not(.theme-) textarea.wpcf7-textarea {
  min-height: 150px;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .ajax-loader {
  display: block;
  visibility: hidden;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-not-valid-tip {
  display: none;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-validation-errors {
  margin: 0;
  padding: 3px;
  background-color: #fcf8e3;
  color: #c09853;
  border: 2px solid #faebcc;
  font-size: 13px;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-mail-sent-ok {
  margin: 0;
  padding: 3px;
  border: 2px solid #d6e9c6;
  background-color: #dff0d8;
  color: #468847;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-submit {
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  min-width: 160px;
  width: 100%;
  text-transform: uppercase;
  opacity: 0.9;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-submit:focus {
  outline: none;
  opacity: 1;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .wpcf7-submit:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1;
}
.ptpb-cf7:not(.theme-none):not(.theme-) .ptpb-halves .wpcf7-submit, .ptpb-cf7:not(.theme-none):not(.theme-) .ptpb-halves .wpcf7-form-control {
  width: 50%;
}

.ptpb-cf7.theme-light .wpcf7-form-control {
  background-color: transparent !important;
  border-width: 1px;
  color: #f1f1f1 !important;
  border-color: #f1f1f1 !important;
}
.ptpb-cf7.theme-light .wpcf7-form-control:focus {
  border: 2px solid #f1f1f1 !important;
}
.ptpb-cf7.theme-light .wpcf7-form-control::-webkit-input-placeholder {
  color: #f1f1f1 !important;
}
.ptpb-cf7.theme-light .wpcf7-submit {
  background-color: #f1f1f1 !important;
  color: #555 !important;
  padding: 0 !important;
}
.ptpb-cf7.theme-dark .wpcf7-form-control {
  background-color: transparent  !important;
  border-width: 1px;
  color: #333 !important;
  border-color: #333 !important;
}
.ptpb-cf7.theme-dark .wpcf7-form-control:focus {
  border: 2px solid #333 !important;
}
.ptpb-cf7.theme-dark .wpcf7-form-control::-webkit-input-placeholder {
  color: #333 !important;
}
.ptpb-cf7.theme-dark .wpcf7-submit {
  background-color: #333 !important;
  color: #fafafa !important;
}

/* Flexslider */
.pt-pb-module-wrap > .flexslider {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pt-pb-module-wrap > .flexslider .slides {
  padding-left: 0;
}
.pt-pb-module-wrap .flex-control-nav {
  bottom: 2px !important;
  z-index: 999;
}
.pt-pb-module-wrap .flex-control-paging li a.flex-active {
  opacity: 1;
  background: transparent !important;
  border-color: #333;
  line-height: 1.5;
}
.pt-pb-module-wrap .slides > li > div {
  width: 100% !important;
  margin-bottom: 30px;
}

.flex-direction-nav a {
  z-index: 9999;
}

.flex-control-paging li a {
  background: #333;
  border: 2px solid #333;
}

/* Blog Posts */
.post-grid-wrap {
  width: 100%;
  padding: 0 15px 30px;
  float: left;
}
.post-grid-wrap .effect {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.post-grid-wrap .effect {
  position: relative;
}
.post-grid-wrap .effect img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.post-grid-wrap .overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.post-grid-wrap a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
.post-grid-wrap a.close-overlay.hidden {
  display: none;
}
.post-grid-wrap a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff !important;
  line-height: 1.5em;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.post-grid-wrap .slide-top .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
.post-grid-wrap .slide-top .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.post-grid-wrap .slide-top .overlay a.expand:hover,
.post-grid-wrap .slide-top .overlay a.expand:focus {
  color: #fff !important;
  text-decoration: none;
}
.post-grid-wrap .slide-top.hover .overlay {
  opacity: 1;
}
.post-grid-wrap .slide-top.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}
.post-grid-wrap .effect {
  text-align: center;
}
.post-grid-wrap .effect .caption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent !important;
}
.post-grid-wrap .effect .caption:before,
.post-grid-wrap .effect .caption:after {
  pointer-events: none;
}
.post-grid-wrap .effect .caption a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-grid-wrap .effect .caption h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.2em;
}
.post-grid-wrap .effect .caption p {
  letter-spacing: 1px;
  font-size: 68.5%;
  margin: 0;
}
.post-grid-wrap .aligncenter {
  display: block;
  margin: 0 auto;
}

.post-grid {
  padding-bottom: 0;
}
.post-grid .post-image {
  margin: 0;
}
.post-grid .post-image img {
  width: 100%;
  max-width: 100% !important;
}
.post-grid .entry-meta {
  margin-bottom: 15px;
}
.post-grid .entry-meta time, .post-grid .entry-meta .fa, .post-grid .entry-meta .separator {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .four-col .post-grid-wrap,
  .five-col .post-grid-wrap {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .one-col .post-grid-wrap {
    width: 100%;
  }

  .two-col .post-grid-wrap {
    width: 50%;
  }

  .three-col .post-grid-wrap {
    width: 33.33%;
  }

  .four-col .post-grid-wrap {
    width: 25%;
  }

  .five-col .post-grid-wrap {
    width: 20%;
  }
}
.no-pad .post-grid-wrap {
  padding: 0 !important;
}
.no-pad .post-grid-wrap .post-grid {
  margin: 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none !important;
}
.no-pad .post-grid-wrap .post-grid img,
.no-pad .post-grid-wrap .post-grid .post-image,
.no-pad .post-grid-wrap .post-grid .overlay {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-grid-wrap {
    width: 50%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .post-grid-wrap {
    width: 33.33%;
  }
}

/*# sourceMappingURL=pacebuilder.css.map */